@import 'mixin';
.header-area{
    background-color: #455A64;
    color: #fff;
}
.header{
    align-items: center;
    padding: 10px 0;
    @include mq(xs){
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        
    }
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    a{
        display: block;
        img{
            max-width: 100px;
            @include mq(xs){
                max-width: 80px;
            }
        }
    }
    span{
        h2{
            color: #C3D136;
            @include mq(xs){
                font-size: 24px;
            }
        }
        a{
            color: #fff;
        }
    }
}
.right{
    ul{
        li{
            display: inline-block;
            a{
                padding: 0 5px;
                display: block;
                font-size: 18px;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}