@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");

/* Default Css */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	/* background-color: #2E5E79; */
}

/* .container {
	max-width: 98%;
	margin: 0 auto;
	padding: 0px 15px;
} */

.rowt {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.v-center {
	align-items: center;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	line-height: 1.3;
}

h2 {
	font-size: 36px;
	line-height: 1.3;
}

h3 {
	font-size: 30px;
	line-height: 1.3;
}

h4 {
	font-size: 24px;
	line-height: 1.2;
}

h5 {
	font-size: 20px;
	line-height: 1.2;
}

h6 {
	font-size: 18px;
	line-height: 1.2;
}

hr {
	margin: 20px 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

p:last-child {
	margin-bottom: 0;
}

li {
	color: unset;
}

input {
	outline: none !important;
	height: 100%;
	width: 100%;
}
.deleteBtn{
    padding: 10px 20px;
 
}
.deleteForm {
    max-width: 200px;
    margin: 20px 0 0 auto;
    padding: 0 14px 0 0;
}
/*default css end here*/
/*Login Registration CSS Starts From here*/
.login-area {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
	height: 100vh !important;

}

.login-wrapper {
	display: flex;
	background-color: #fff;
	padding: 10px;
	border-radius: 20px;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 80%;
  margin: 0 auto;
}


.login-left {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex-basis: 65%;
	border-radius: 20px 0 0 20px;
	position: relative;
	z-index: 1;
}

.login-left::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1f2228;
	mix-blend-mode: multiply;
	z-index: -1;
	opacity: 0.5;
	border-radius: 20px 0 0 20px;
}

.login-left h3 {
	color: #C3D136;
	margin-bottom: 10px;
}

.login-left p {
	color: #fff;
}

.login-left .content {
	position: absolute;
	z-index: 2;
	bottom: 30px;
	left: 30px;
}

.login-form {
	background-color: #455A64;
	flex-basis: 35%;
	padding: 20px 30px;
	color: #fff;
	border-radius: 0 20px 20px 0;
}


.login-form h3 {
	font-weight: bold;
	color: #C3D136;
	margin-bottom: 30px;
}

.login-form button {
	background-color: #C3D136;
	display: block;
	color: #fff;
	margin-bottom: 20px;
}

.login-form a {
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	display: block;
}

.login-form span {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}

.login-form span p {
	font-size: 15px;
}
.registration-area {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
	height: 100vh;
}

.form {
	max-width: 650px;
	margin: 0 auto;
	background-color: #455A64;
	color: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form h2 {
	text-align: center;
	font-weight: bold;
	color: #fff;
	padding: 20px;
	background-color: #C3D136;
}

.form-inner {
	padding: 30px;
}

.form-inner input {
	max-width: 400px;
}

.form-inner label {
	font-weight: bold;
}

.form-inner button,
.form-inner a {
	background-color: #C3D136;
	color: #fff;
}

.input-wrap {
	display: flex;
	justify-content: space-between;
}



.register-btn {
	color: #fff;
	background-color: #C3D136;
}

/*Login Registration CSS End From here*/
/*Header css starts from here*/
.header-area {
	background-color: #455A64;
	color: #fff;
}

.header {
	align-items: center;
	padding: 10px 0;
}


.logo {
	display: flex;
	/* gap: 10px; */
	align-items: center;
}

.logo a {
	display: block;
}

.logo a img {
	max-width: 100px;
}

.logo h2{
	font-size: 28px;
}
.logo span a {
	color: #fff;
}



.right ul li a {
	padding: 0 5px;
	display: block;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

/*header css ends here*/
/*body css starts from here*/
.body-wrapper {
	padding-top: 20px;
	justify-content: space-between;
	
}

.body {
	background-color: #fff;
	min-height: 550px;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
}


.body h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #1B548D;
	background: #E6F0F3;
	padding: 10px 12px;
	border-bottom: 1px solid #B3CBD6;
	border-radius: 5px 5px 0px 0px;
	display: flex;
	justify-content: center;
}



.form-w-600 {
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
}

.dataTables_wrapper {
	margin-top: 30px !important;
}

.dataTables_wrapper a {
	color: #333 !important;
}

table.dataTable.no-footer {
	border-bottom: none !important;
}

table.dataTable thead th,
table.dataTable thead td {
	padding: 10px 18px;
	border-bottom: 1px solid #C3D136;
}

.input {
	display: flex;
	position: relative;
	gap: 20px;
	margin-bottom: 30px !important;
}

.input label {
	font-size: 20px;
	color: #1B548D;
	font-weight: 700;
}

.input input {
	max-width: 400px;
	position: absolute;
	right: 0;
	padding: 10px !important;
	width: 100%;
}



.submit-btn input {
	width: auto !important;
	background-color: #C3D136;
	padding: 15px 30px;
	outline: none !important;
	border: none !important;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.sidebar-area {
	padding-left: 25px;
}

.menuitem {
	padding: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	color: #455A64;
	font-size: 18px;
	font-weight: bold;
}

.menuitem:hover {
	background-color: #c3d136;
	color: #fff;
}

.submenu {
	display: none;
}

.submenu li a.submenuitem {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #333;
	padding-left: 25px;
	font-size: 18px;
	display: block;
	border-bottom: 1px solid #ccc;
}

.submenu li a.submenuitem:hover {
	background-color: #c3d136;
	color: #fff;
}

.submenuitem-child {
	display: none;
}

.side-bar {
	background-color: #fff;
	min-height: 550px;
	max-height: auto;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
   rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
	  height: 100%;
}

.submenuitem-child li a {
	display: block;
	font-size: 16px;
	color: #333;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	padding-left: 40px;
}

.submenuitem-child li a:hover {
	background-color: #c3d136;
	color: #fff;
}
p#val {
	color: #1B548D;
	padding: 15px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	max-width: 218px;
	border: 1px solid;
	margin: 10px 20px 20px auto;
	}


/*Batch List Css starts from here*/
.body-area{
	background-color: #eee;
}
.student_list_table.dataTable th {
	white-space: nowrap !important;
	}
 .student_list_table.dataTable td {
		white-space: wrap !important;
	}
	.student_list_table{
		caption-side: bottom;
		border-collapse: collapse;
		margin: 0 auto;
		}
		.student_list_table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, .student_list_table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before {
		bottom: 50%;
		content: "";
		}
		.student_list_table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, .student_list_table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
		top: 50%;
		content: "";
		}
		label {
			display: inline-block;
			/* margin-left: 10px; */
			margin-bottom: 10px;
			}
			.dataTables_wrapper .dataTables_paginate {
			margin-bottom: 21px;
			}
   
			/* .body h2{
			justify-content: center;
			} */
			.dataTables_wrapper .dataTables_filter {
			float: right;
			text-align: left;
			padding-right: 20px;
			margin-bottom: 10px;
			}
		/*Batch List Css end here*/
		/*Batch List Update css starts from here*/
		.batch_update_form{
			max-width: 600px;
			margin: 20px auto;
		}
		/*Teacher create table css starts from here*/
		.teacher_p{
			margin-bottom: 20px;
			}
			.teacher-table{
			padding: 10px 20px;
			}
			.button{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 50px !important;
			}
			.total-cal{
			text-align: end;
			}
			.new-teacher-add {
				background: #fff;
				border-radius: 8px;
				height: 100%;
				padding: 20px;
			}
		/*Teacher create table css end here*/
		/*Offered course list css*/
		.selectsubmitForm{
			display: flex;
			gap: 10px;
		}

/*Batch Add css starts from here*/
.add-body-area{
	padding: 130px 0;
	background-color: #eee; 

}
.add-div{
	background-color: #ffffff;
	max-width: 700px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin: 0 auto;
}
.add-div-h3{
	text-align: center;
	padding: 30px  0 ;
	color: #1B548D;
    background: #E6F0F3;
    padding: 10px 12px;
    border-bottom: 1px solid #B3CBD6;
}
.add-div-form{
	padding: 20px 20px 40px;
}
.add-div-form label{
	color: #1B548D;
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 20px;
}
.theme-btn{
	background-color: #C3D136;
	color: #1B548D;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 8px;
	max-width: 130px;
}
/*Batch add css end here*/
/*body csss ends here*/

/*Footer css starts From here*/
.footer-area {
	background-color: #204562;
	padding: 15px 0;
	color: #fff;
}

.footer-area p {
	text-align: center;
}

.footer-area p span {
	color: #C3D136;
}
/*Footer css ends  here*/

/*Responsive mobile device*/
@media (max-width: 575.98px) {
	.registration-area{
		padding: 50px 0;
	}
	.login-wrapper{
		max-width: 100%;
	}
	.login-area{
		padding: 50px 0;
	}
	.login-left{
		display: none;
		
	}
	.login-form {
		flex-basis: 100%;
		border-radius: 20px;
	}
	.input-wrap{
		flex-direction: column;
	}
	.form h2 {
		font-size: 26px;
	}

	.logo span{
		display: none;
	}
	._header_navbar_toggle_icon {
		background-image: url('../img/menu.png') !important;
		width: 20px;
	}
	.navbar-toggler:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-light .navbar-toggler{
		border: 0;
	}
	.system-nav{
		margin-top: 30px;
	}
	.nav-item{
		margin-bottom: 10px;
	}
	.body{
		display: none;
	}
	.add-body-area{
		padding: 100px 0;
	}
	.add-div-h3{
		font-size: 24px;
	}
}

